{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if month_filter %}
    <div class="card text-center mt-5" style="width: max-content;">
        <h5 class="card-title">{{ month_filter.month_name }}</h5>
        {% for week_days in month_filter.monthcalendar %}
        <div class="row" style="padding: 1em;">
            {% for day in week_days %}
            <div class="col">
                {% if day != 0 %}
                    {% if month_filter.today.day == day %}
                    <button class="btn btn-dark">{{ day }}</button>
                    {% elif month_filter.selected_date.day == day %}
                    <button class="btn btn-info">{{ day }}</button>
                    {% elif day in month_filter.workdays %}
                    <a class="btn btn-outline-info" href="{% url 'list_work_day_selected' year=month_filter.today.year month=month_filter.today.month day=day %}">{{ day }}</a>
                    {% else %}
                    <button class="btn btn-outline-dark">{{ day }}</button>
                    {% endif %}
                {% endif%}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}